{% extends "base.html" %}

{% block content %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
</script>

<script>
  function redirectToUrl(url) {
    window.location.href = url;
  }
</script>
<style>
  .invisible-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    opacity: 0;
  }
</style>


<div class="column">


  {% for dweet in dweets %}
  <script>
    const url = "{% url 'detail' dweet.pk %}"
  </script>
  <div class="column is-half is-offset-one-quarter">
    <div class="box">
      {% if dweet.parent is not None %}
          <div class="card-header-title">
            <div class=has-text-grey-light>reply to <a href="{% url 'detail' dweet.parent.pk %}"
                    class="has-text-link">{{dweet.parent.user.username}} </a></div>
        </div>
        {% endif %}
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong>{{ dweet.user.username }}</strong> <small>@{{ dweet.user.username }}</small> <small>{{dweet.created_at }}</small>
              <br>
              {{ dweet.body }}
            </p>
          </div>
          <nav class="level is-mobile">
            <div class="level-left">
              <a class="level-item" aria-label="reply" href = "{% url 'detail' dweet.pk %}">
                <span class="icon is-small">
                  <i class="fas fa-reply" aria-hidden="true"></i>
                </span>
              </a>
              <a class="level-item" aria-label="retweet">
                <span class="icon is-small">
                  <i class="fas fa-retweet" aria-hidden="true"></i>
                </span>
              </a>

              <a class="level-item" aria-label="like" href = "{% url 'like' dweet.pk %}">
                <span class="icon is-small">
                  {% if user not in dweet.liked_by.all %}
                  <i class="fas fa-heart" aria-hidden="true"></i>
                  {% else %} 
                  <i class='fa fa-heart' style='color: red'></i>
                  {% endif %}
                  <span class=has-text-link>{{ dweet.liked_by.count }}</span>

                </span>
              </a>
            </div>
          </nav>
        </div>
      </article>
      {% if dweet.user == user %}
      <div class="is-flex is-justify-content-flex-end">

        <div class="modal" id="modal1">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">
                Confirm
              </p>
              <button class="delete" aria-label="close">
              </button>
            </header>
            <section class="modal-card-body">

              <div class="block">
                Are you sure you want to delete this post?
              </div>

            </section>
            <footer class="modal-card-foot">
              <form action="{% url 'delete' dweet.pk %}" method="post">
                {% csrf_token %}
                <button name="url" value="dashboard" method="submit" class="button is-danger">Yes</button>
              </form>
            </footer>
          </div>
        </div>

        <!-- Modal button for trigger -->
        <button onclick="openModal();" class="delete">
        </button>


      </div>
      {% endif %}
    </div>

  </div>

  {% endfor %}
</div>

<div class="column is-one-quarter">
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="type" value="dweet" class="button is-info is-fullwidth is-medium mt-5">Dweet</button>
  </form>
</div>


{% endblock content %}